mat-form-field {
    width: 100%;
}

.selectors-container {
    width: 100%;
    display: flex;
    gap: 20px;
}

.form-fields-container {
    margin-top: 10px;
}

.dialog-actions-container {
    display: flex;
    justify-content: flex-end;
}