# .NET Backend
bin/
obj/
.vs/
*.user
*.suo
Logs/
appsettings.Development.json
Migrations/
*.log

# Angular Frontend
node_modules/
dist/
src/environments/environment.ts
src/environments/environment.prod.ts
.angular/
.vscode/

# General OS and IDE files
Thumbs.db
.DS_Store
*.swp
